<h2>Login</h2>

<%= form_for :session, html: {id: "login-form"} do |f| %>
  <%= f.text_field :username, placeholder: "username", class: "form-control" %>
  <%= f.password_field :password, placeholder: "password", class: "form-control" %>
  <%= f.submit "Login", class: "btn btn-success" %>
<% end %>



