<div class="container">
		
	<div class="page-header"><h1>Upload Chrome Bookmark HTML file</h1>
		<div class="list-author">
    	<h5><%= link_to "Back to Profile", current_user %></h5>
  	</div>
  </div>
  
		<div class="col-md-4">
			<%= form_for @upload, url: upload_index_path, class: "form-inline", multipart: true do |f| %>


				<div class="form-group">
					<%= f.file_field :upload_file_name, class: 'form-control'%>
				</div>

			  <%= f.submit 'Upload', class: 'btn btn-default' %>
			<% end %>
		</div>
	</div>
</div>
