<div>
  <ul>
    <% @users.each do |user| %>
      <li class="follow-space"><%= link_to "#{user.username.capitalize}", user_path(user) %>
        <% if user.followers.count == 1 %>
          (<%= user.followers.count %> follower)
        <% else %>
          (<%= user.followers.count %> followers)
        <% end %>
      </li>
    <% end %>
  </ul>
</div>