<% @user ||= current_user %>
<div class="stats">
    following
    <strong id="following" class="stat"><%= @user.following.count %></strong> |
    <span class ="followers">
      <strong id="followers" class="stat">
        <%= @user.followers.count %>
      </strong>
      <% if @user.followers.count == 1 %>
        follower
      <% else %>
        followers
      <% end %>
    </span>
</div>