 <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Bookmark It!</h1>
                        <p class="intro-text">A free, responsive, bookmark sharing service.<br>For the fun of it.</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
            <div id="about"></div>

     <!-- <section id="about" class="container content-section text-center"> -->
        <div class="row">
      <section id="about" class="container content-section text-center">
        <!-- <div class="col-lg-8 col-lg-offset-2"> -->
         <h2 class="center">Bookmarks!</h2>
        </div>
     <div id="container"><%= render "display_bookmarks/show" %></div>

        <div class="row">
            <div class="col-lg-12">


            </div>
        </div>
    </div>
</div>
    <!-- </section> -->
