/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/*=======================
Edit and delete for user's bookmarks
==========================*/
a.btn.btn-primary.spaced {
  margin: 5px 0 5px 0;
}

a.top-corner {
  position: relative;
  top: 20px;
  font-size: 1.8em;
}

.pull-right {
  margin-top: -50px;
  padding-right: 20px;
}

/*===========================*/
form { color: black;}

body {
  padding-top: 60px;
}

body {
  background: #0D1321;
  /*background: #f0ebd8;*/
  font-family: 'Lato', Arial, sans-serif;
  color: #fff;
}

h3 {
  color: white;
}

.folder-list {
  padding-top:5px;
  font-weight: bold;
  background-size: contain;
  background-repeat: no-repeat;
}

.folder-list a {
  font-size: 1.4em;
  text-decoration:none;
}

/*************************************
Displaying bookmarks -- Ronnie
**************************************/

  html, body {
        height: 100%;
      }

      body {
        background-color: #000000;
        margin: 0;
        font-family: Helvetica, sans-serif;;
        /*overflow: hidden;*/
      }

      /*a {
        color: #ffffff;
      }*/

      #info {
        position: absolute;
        width: 100%;
        color: #ffffff;
        padding: 5px;
        font-family: Monospace;
        font-size: 10px;
        font-weight: bold;
        text-align: center;
        z-index: 1;
      }

      #menu {
        position: absolute;
        bottom: 20px;
        width: 100%;
        text-align: center;
      }

      .element {
        width: 120px;
        height: 160px;
        box-shadow: 0px 0px 12px rgba(0,255,255,0.5);
        border: 1px solid rgba(127,255,255,0.25);
        text-align: center;
        cursor: default;
      }

      .element:hover {
        box-shadow: 0px 0px 12px rgba(0,255,255,0.75);
        border: 1px solid rgba(127,255,255,0.75);
      }

        .element .number {
          position: absolute;
          top: 20px;
          right: 20px;
          font-size: 12px;
          color: rgba(127,255,255,0.75);
        }

        .element .symbol {
          position: absolute;
          top: 40px;
          left: 0px;
          right: 0px;
          font-size: 1em;
          font-weight: bold;
          color: rgba(255,255,255,0.75);
          text-shadow: 0 0 10px rgba(0,255,255,0.95);
        }

        .element .details {
          position: absolute;
          bottom: 15px;
          left: 0px;
          right: 0px;
          font-size: 12px;
          color: rgba(29,45,68,0.75);
        }

      button {
        color: rgba(127,255,255,0.75);
        background: transparent;
        outline: 1px solid rgba(127,255,255,0.75);
        border: 0px;
        padding: 5px 10px;
        cursor: pointer;
      }
      button:hover {
        background-color: rgba(0,255,255,0.5);
      }
      button:active {
        color: #000000;
        background-color: rgba(0,255,255,0.75);
      }


