/*************************************
Displaying bookmarks -- Ronny
**************************************/

  html, body {
        height: 100%;
      }

      body {
        background-color: #000000;
        margin: 0;
        font-family: Helvetica, sans-serif;;
        /*overflow: hidden;*/
      }

      /*a {
        color: #ffffff;
      }*/

      .center { text-align: center; }

      #info {
        position: absolute;
        width: 100%;
        color: #ffffff;
        padding: 5px;
        font-family: Monospace;
        font-size: 10px;
        font-weight: bold;
        text-align: center;
        z-index: 1;
      }

      #menu {
        /*position: absolute;*/
        bottom: 20px;
        width: 100%;
        text-align: center;
      }

      .element {
        width: 220px;
        height: 260px;
        /*box-shadow: 0px 0px 12px rgba(0,255,255,0.5);*/
        border: 1px solid white;
        /*rgba(127,255,255,0.25);*/
        text-align: center;
        cursor: pointer;
      }

      .element:hover {
        box-shadow: 0px 0px 12px rgba(0,255,255,0.75);
        border: 1px solid rgba(127,255,255,0.75);
      }

        .element .number {
          position: absolute;
          top: 20px;
          right: 20px;
          font-size: 12px;
          color: rgb(127,255,255);
        }

        .element .symbol {
          width: 200px;
          height: 120px; 
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;

          position: absolute;
          top: 40px;
          left: 0px;
          right: 0px;
          font-size: 3em;
          font-weight: bold;
          color: rgb(255,255,255);
          /*text-shadow: 0 0 10px rgba(0,255,255,0.95);*/
        }

        .element .details {
          position: absolute;
          bottom: 15px;
          left: 0px;
          right: 0px;
          font-size: 12px;
          color: rgba(29,45,68,0.75);
        }

      button {
        color: rgba(127,255,255,0.75);
        background: transparent;
        outline: 1px solid rgba(127,255,255,0.75);
        border: 0px;
        padding: 5px 10px;
        cursor: pointer;
      }
      button:hover {
        background-color: rgba(0,255,255,0.5);
      }
      button:active {
        color: #000000;
        background-color: rgba(0,255,255,0.75);
      }


